* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: BreveText, helvetica, sans-serif;
    font-feature-settings: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

/*.................NAVBAR.................*/


.navC {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 10px 10px -10px #111;
    position: relative;
    top: 0;
    overflow: hidden;
    background-blend-mode: overlay;
    z-index: 5;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
    background-position: center;
}

.logo {
    width: 18%;
    height: 100%;
    margin-left: 10px;
    background-image: url(/public/img/LOGO2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(5px 5px 5px red);
}

.navmenu {
    width: 82%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.uppernav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 10;
}

.lowwernav {
    z-index: 10;
}

.search {
    width: 350px;
    margin-left: 20px;
}

#upperform{
    width: fit-content;
    height: 40px;
    display: flex;
    border-radius: 5px;
    border: 0.5px solid rgb(202, 202, 202);
    border-radius: 25px;
    filter: drop-shadow(5px 5px 5px black);
}

#search {
    width: 320px;
    border: none;
    border-radius: 25px 0px 0px 25px;
}

button[type="submit"] {
    overflow: hidden;
    width: 30px;
    border: 1px solid transparent;
    cursor: pointer;
    opacity: 0.7;
    border-radius: 0px 25px 25px 0px;
}


.login-cart {
    height: 30px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 650px;
}

.login-cart a {
    margin-left: 5px;
    color: white;
}

.login-cart a:hover {
    text-decoration: underline;
}

#cart {
    font-size: 25px;
    font-weight: bold;
    padding-left: 5px;
    padding-bottom: 5px;
    border-left: 0.5px solid #c2c2c2;
}

.login-cart #carta {
    margin-right: 20px;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 14px;
}

.menu {
    display: flex;
}

#listmenu {
    padding-left: 50px;
}

#listmenu1 {
    padding-left: 20px;
}

.menu ul li a {
    width: 100%;
    height: 100%;
    padding: 5px;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
}

.menu ul li a:hover {
    background-color: black;
    color: white;
    border: none;
    filter: drop-shadow(2.5px 2.5px 2.5px red);
}

/*................FORM................*/
  
div.main{
    width: 400px;
    margin: 100px auto 0px auto;
  }

  .form{
    height: 900px;
    z-index: 10;
  }
  
  h2{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
  }
  
  div.register{
    background-color: rgba(0, 0, 0, 0.5 );
    margin: 60px 0px 0px 39%;
    width: 350px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3 );
    box-shadow: 2px 2px 15px rgba(0, 0 , 0 , 0.3);
    color: #fff;
    display: inline-block;
    align-items: center;
  }
  
  form#register{
    width: 300px;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 40px;
  }
  
  label{
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;
  }
  
  input#name{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0, 0 , 0 , 0.3);
  }
  
  input#email{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0, 0 , 0 , 0.3);
  }
  
  input#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background-color: rgba(250, 100, 0, 0.8);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(0, 0 , 0 , 0.3);
    box-shadow: 1px 1px 5px rgba(0, 0 , 0 , 0.3);
    margin-bottom: 20px;
  }
  
  label, span, h2 {
    text-shadow: 1px 1px 5px rgba(0, 0 , 0 , 0.3);
  }



/*....................MAIN-BODY....................*/

.container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.titlebody {
    width: 100%;
    height: 700px;
    background-color: rgb(71, 14, 169);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    overflow: hidden;
    background-blend-mode: overlay;
    z-index: 1;
}

.overlay2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

}
#vid2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
    background-position: center;

}

#H1 {
    font-size: 80px;
    margin-top: 250px;
    margin-bottom: 100px;
    color: white;
    z-index: 1;
    filter: drop-shadow(5px 5px 2.5px purple);

}

#H2 {
    width: 60%;
    height: 80px;
    border: 5px solid white;
    border-radius: 50px;
    padding-top: 10px;
    margin: 0 20%;
    font-size: 40px;
    color: white;
    z-index: 1;
    filter: drop-shadow(4px 4px 2.5px black);
}
#arrow{
    font-size: 40px;
    margin-top: 65px;
    color: yellowgreen;
}




.toys1 {
    width: 100%;
    height: 540px;
    background-image: url(/public/img/soft-toy1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
}

.toys2 {
    width: 100%;
    height: 600px;
    background-image: url(/public/img/lego.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
}

.toys3 {
    width: 100%;
    height: 600px;
    background-image: url(/public/img/action-figures1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;

}

.toys4 {
    width: 100%;
    height: 600px;
    background-image: url(/public/img/board-games.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;

}

.toys5 {
    width: 100%;
    height: 600px;
    background-image: url(/public/img/musical-toy1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;

}

.toys6 {
    width: 100%;
    height: 600px;
    background-image: url(/public/img/puzzle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;

}

.productbutton h1 {
    margin-top: 20px;
    font-size: 40px;
}

.productbutton button {
    text-decoration: none;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-top: 410px;
}

.productbutton button:hover {
    background-color: black;
    color: white;
}

#Lbtn {
    text-decoration: none;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-top: 470px;
}

#Abtn {
    text-decoration: none;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-top: 480px;
}

#Bh {
    margin-top: 40px;
}

#Bbtn {
    text-decoration: none;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-top: 420px;
}

#Mh {
    margin-top: 40px;
}

#Mbtn {
    text-decoration: none;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-top: 400px;
}

#Pbtn {
    text-decoration: none;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-top: 470px;
}